body{
    background-color: royalblue;
}
main{
    width: 900;
    max-width: 90%;
    margin: 0 auto;
}
section{
    background-color: #fff;
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
}
.section-title{
    color: rgb(245, 39, 245);
}
.players, .blogs ,.courses{
    display: grid;
    grid-gap: 30px;
    
}
.players ,.courses{
    grid-template-columns: repeat(3,1fr);
}
.blogs{
    grid-template-columns: repeat(2,1fr);
}
.player ,.blog{
    display: flex;
    align-items: center;
}

.player img{
    height: 50px;
    margin-right: 10px;
}
.thumbnail img{
    width: 300px;
    margin-right: 10px;
}
.course-info{
    display: flex;
}
.course img{
    width: 300px;
}
.course-rating{
    margin-right: 20px;
}

.filled{
    color: goldenrod;
    font-size: 0.8em;
}
.unfilled{
    color: darkgray;
    font-size: 00.8em;
}



@media (max-width:992px){
    .players ,.courses{
        grid-template-columns: repeat(2,1fr);
    }
    .blogs{
        grid-template-columns: repeat(1,1fr);
    }
}
@media (max-width:668px){
    .players ,.courses{
        grid-template-columns: repeat(1,1fr);
    }
}